@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/static/Inter_18pt-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/static/Inter_18pt-ExtraLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/static/Inter_18pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter/static/Inter_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
