@import url("./fonts.scss");

$main-brand-color: #000000;


:root {
  font-family: Impact, Arial;
  font-size: 20px;
  line-height: 1.5;
}

* {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.add-workout_container {
  padding: 20px;
}

.exercise-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

select, input {
  padding: 5px;
  font-size: 1em;
}

.add-exercise-btn {
  margin: 10px 0;
  background-color: #ffc107;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.submit-btn {
  background-color: #ffc107;
  padding: 10px;
  border: none;
  cursor: pointer;
}
