#motivational-photo {
  max-width: 100%;
  height: auto;
  margin-right: 10%;
}

#slogan {
  font-size: 3.5rem;
  color: #ffcc00;
  margin-left: 15%;
  & > #subtext {
    color: black;
  }
}

.inline-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > * {
    display: inline;
  }
}
